*.cpython-35.pyc
*.pyc
*.xml
*.cpython-35.*
*.aux
*.toc
*.synctex.gz
*.out
*.log
*.DS_Store
.idea/*
.DS_Store
.coverage*
*.pytest_cache/*
*_build
*_build/*
htmlcov/
dist/*
viroconcom.egg-info/*
examples/datasets/ecmwf.nc
